/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

/* ====== Custom properties ====== */
:root {
    /* colors */
    --smr-red-text-clr: hsl(0, 100%, 67%);
    --smr-orange-text-clr: hsl(39, 100%, 56%);
    --smr-green-text-clr: hsl(166, 100%, 37%);
    --smr-blue-text-clr: hsl(234, 85%, 45%);
    --result-top-bg-clr: hsl(252, 100%, 67%);
    --result-btm-bg-clr: hsl(241, 81%, 54%);
    --circle-top-bg-clr: hsla(256, 72%, 46%, 1);
    --cirlce-btm-bg-clr: hsla(241, 72%, 46%, 0);
    --main-bg-clr: hsl(0, 0%, 100%);
    --h-clr: hsl(221, 100%, 96%);
    --par-clr: hsl(241, 100%, 89%);
    --btn-clr: hsl(224, 30%, 27%);

    /* font */
    --fs-par: 1.125rem;
    --ff: 'Hanken Grotesk', sans-serif;
    --fw-medium: 500;
    --fw-bold: 700;
    --fw-extraBold: 800;
}

/* ====== Styles ====== */
body {
    font-family: var(--ff);
    background-color: var(--main-bg-clr);
}

/* ====== Result block ====== */
.result {
  background: linear-gradient(
    0deg, var(--result-btm-bg-clr),
    var(--result-top-bg-clr));
  padding: 1.5rem 2.5rem 2rem 2.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
}

.your-result {
  color: var(--par-clr);
  font-size: var(--fs-par);
}

.circle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  background: linear-gradient(
    0deg, var(--cirlce-btm-bg-clr),
    var(--circle-top-bg-clr));
    border-radius: 5rem;
  width: 9rem;
  height: 9rem;
}

.result-number {
  font-size: 3.5rem;
  color: var(--main-bg-clr);
  line-height: 1;
  font-weight: var(--fw-bold);
}

.out-of {
  color: var(--par-clr);
  opacity: 0.6;
}

.comment-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
}

.comment {
  color: var(--h-clr);
}

.comment-descr {
  color: var(--par-clr);
  opacity: 0.9;
}

/* ====== Summary block ====== */
.summary {
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary-heading {
  font-weight: var(--fw-bold);
  font-size: 1.125rem;
}

.summary-components {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.sum-component-one,
.sum-component-two,
.sum-component-three,
.sum-component-four {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.5rem;
}

.left-part,
.right-part {
  display: flex;
}

.sum-component-one {
  background-color: hsl(5, 100%, 98%);
}

.sum-component-one .score-type {
  color: red;
}

.sum-component-two {
  background-color: hsl(39, 100%, 97%);
}

.sum-component-three {
  background-color: hsl(173, 47%, 96%);
}

.sum-component-four {
  background-color: hsl(240, 63%, 97%);
}
